# 初赛代码仓库完整运行依赖， 同时还需要java8
# 该文件用于选手侧环境安装，包含 baseline 所需的 PyTorch。
aiofiles==24.1.0
future==1.0.0
grpcio==1.78.0
injector==0.21.0
loguru==0.7.2
numpy==1.26.4
protobuf==6.30.1
PyQt5==5.15.11
PyQt5-sip==12.17.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.15.2
torch
